@charset "UTF-8";
/* CSS Document */

* {
    padding: 0;
    margin: 0;
}

body{
    margin:0px;
    text-align:center;
}

h1 {
    margin-top: 50px;
}

#reg{
    position: relative;
    margin: 10px auto 0;
    padding-top: 40px;
    padding-left: 70px;
    width: 440px;
    height: 700px;
    background-color: white;
    border-radius: 4px;
}

.error{
    color:red;
}


input {
    display: block;
    padding-left: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
    border: 1px solid rgb(220, 223, 230);
    outline: none;
    transition: 0.3s;
    /* border-radius: 5px; */
}

input:focus {
    border: 1px solid rgb(56, 142, 60);
}

button {
    margin-left: -125px;
    margin-top: 10px;
    width: 310px;
    height: 40px;
    background-color: rgb(56, 142, 60);
    border: 0;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: rgb(76, 154, 80);
}
button:active {
    background-color: rgb(96, 165, 99);
}

.sex {
    zoom: 50%;
}
.gender {
    position: absolute;
    left: 70px;
    top: 235px;
}
#radio1 {
    display: inline;
    position: absolute;
    top: 475px;
    left: 100px;
    

}
#radio2 {
    display: inline;
    position: absolute;
    top: 475px;
    left: 190px;


}

.boy {
    position: absolute;
    left: 140px;
    top: 235px;

}
.girl {
    position: absolute;
    left: 185px;
    top: 235px;
    margin-bottom: 100px;
}
