@charset "UTF-8";
/* CSS Document */ 

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245, 245, 245);
}

header {
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
}

nav {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px 1px rgb(0 0 0 / 10%);

}

nav ul li {
    /* float: left; */
    display: inline-block;
    list-style: none;
    width: 100px;
    height: 40px;
    transition: 0.3s;
}
nav ul li:hover {
    background-color: salmon;
}


nav ul li a {
    display: block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
nav ul li a:hover {
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    text-align: center;
    line-height: 100px;
}